{
  "openapi": "3.1.0",
  "info": {
    "title": "Trade Me API",
    "version": "1.0.0",
    "description": "Complete Trade Me API specification generated from official documentation",
    "contact": {
      "name": "Trade Me API Support",
      "url": "https://developer.trademe.co.nz"
    }
  },
  "servers": [
    {
      "url": "https://api.trademe.co.nz/v1",
      "description": "Production server"
    },
    {
      "url": "https://api.tmsandbox.co.nz/v1",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Address Methods",
      "description": "Address Methods operations"
    },
    {
      "name": "Bidding And Buying Methods",
      "description": "Bidding And Buying Methods operations"
    },
    {
      "name": "Branding Methods",
      "description": "Branding Methods operations"
    },
    {
      "name": "Catalogue Methods",
      "description": "Catalogue Methods operations"
    },
    {
      "name": "Document Service Methods",
      "description": "Document Service Methods operations"
    },
    {
      "name": "Favourite Methods",
      "description": "Favourite Methods operations"
    },
    {
      "name": "Fixed Price Offer Methods",
      "description": "Fixed Price Offer Methods operations"
    },
    {
      "name": "Job Agent Methods",
      "description": "Job Agent Methods operations"
    },
    {
      "name": "Job Company Methods",
      "description": "Job Company Methods operations"
    },
    {
      "name": "Job Listing Methods",
      "description": "Job Listing Methods operations"
    },
    {
      "name": "Job Position Methods",
      "description": "Job Position Methods operations"
    },
    {
      "name": "Jobs Catalogue Methods",
      "description": "Jobs Catalogue Methods operations"
    },
    {
      "name": "Jobs Payment Methods",
      "description": "Jobs Payment Methods operations"
    },
    {
      "name": "Listing Enquiries Methods",
      "description": "Listing Enquiries Methods operations"
    },
    {
      "name": "Listing Methods",
      "description": "Listing Methods operations"
    },
    {
      "name": "Membership Methods",
      "description": "Membership Methods operations"
    },
    {
      "name": "My Trade Me Methods",
      "description": "My Trade Me Methods operations"
    },
    {
      "name": "Oauth Methods",
      "description": "Oauth Methods operations"
    },
    {
      "name": "Photo Methods",
      "description": "Photo Methods operations"
    },
    {
      "name": "Ping Methods",
      "description": "Ping Methods operations"
    },
    {
      "name": "Property Agency Methods",
      "description": "Property Agency Methods operations"
    },
    {
      "name": "Property Agent Methods",
      "description": "Property Agent Methods operations"
    },
    {
      "name": "Property Map Methods",
      "description": "Property Map Methods operations"
    },
    {
      "name": "Property Partnership Agreement Methods",
      "description": "Property Partnership Agreement Methods operations"
    },
    {
      "name": "Property Sold Search Methods",
      "description": "Property Sold Search Methods operations"
    },
    {
      "name": "Property Timeline Methods",
      "description": "Property Timeline Methods operations"
    },
    {
      "name": "Renti Methods",
      "description": "Renti Methods operations"
    },
    {
      "name": "Search Methods",
      "description": "Search Methods operations"
    },
    {
      "name": "Selling Methods",
      "description": "Selling Methods operations"
    },
    {
      "name": "Seo Methods For Dynamic Pages Directory",
      "description": "Seo Methods For Dynamic Pages Directory operations"
    },
    {
      "name": "Seo Methods For Internal Linking",
      "description": "Seo Methods For Internal Linking operations"
    },
    {
      "name": "Seo Methods For Landing Page Content",
      "description": "Seo Methods For Landing Page Content operations"
    },
    {
      "name": "Seo Methods For Menu Links",
      "description": "Seo Methods For Menu Links operations"
    },
    {
      "name": "Shipping Methods",
      "description": "Shipping Methods operations"
    },
    {
      "name": "Suburb Search Methods",
      "description": "Suburb Search Methods operations"
    }
  ],
  "paths": {
    "/Property/Address": {
      "get": {
        "summary": "Search by address",
        "description": "Search by address",
        "operationId": "SearchByAddress",
        "tags": [
          "Address Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The partial address to retrieve suggestions for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type_filter",
            "in": "query",
            "description": "The type to filter by(address, street, suburb, city).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<AddressSearchResponse>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchByAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/bidding/buynow": {
      "post": {
        "summary": "Buy an auction using Buy Now",
        "description": "Buys an item using Buy Now.",
        "operationId": "BuyAnAuctionUsingBuyNow",
        "tags": [
          "Bidding And Buying Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyAnAuctionUsingBuyNowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<BuyNowResponse> The details of the Buy Now request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyAnAuctionUsingBuyNowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/bidding/bid": {
      "post": {
        "summary": "Place a bid",
        "description": "Place a bid (normal or auto-bid) on a listing.",
        "operationId": "PlaceABid",
        "tags": [
          "Bidding And Buying Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceABidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<AuctionBidResponse> The details of the bid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceABidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/bidding/senddeliveryaddress": {
      "post": {
        "summary": "Send delivery address info to seller",
        "description": "Selects a delivery address for an auction you've won and sends that\n  information, along with an optional phone number and message, to the seller.\n  Do not use this API if the buyer is planning to pay with Pay Now, since the\n  Pay Now process already includes this step. An address can only be sent once;\n  the buyer must contact the seller directly if there was a mistake.",
        "operationId": "SendDeliveryAddressInfoToSeller",
        "tags": [
          "Bidding And Buying Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDeliveryAddressInfoToSellerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<SendDeliveryAddressResponse> Indicates whether or not the operation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDeliveryAddressInfoToSellerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/Member/{memberId}/BrandingImages": {
      "post": {
        "summary": "Adds an image to the authenticated user's list of branding images",
        "description": "Adds an image to the authenticated user's list of branding images. These photos can be used when listing a classified. Branding images are only supported for Job listings.",
        "operationId": "AddsAnImageToTheAuthenticatedUserSListOfBrandingImages",
        "tags": [
          "Branding Methods"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddsAnImageToTheAuthenticatedUserSListOfBrandingImagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<UploadBrandingResponse> Information about the uploaded branding\n\n\n Success \n Boolean \n\nIndicates whether the operation was successful.\n\n\n\n Description \n String or null \n\nThe description of the error, if the operation failed.\n\n\n\n BrandingImageDetails \n <BrandingImageDetails> or null \n\nThe uploaded image information\n\n\n\n\n\n\n\n\n\n Links \n Collection of <Link> or null \n\nLinks to related operations\n\n\n\n\n Example JSON Request  \n{\n  \"FileName\": \"ABC\",\n  \"BrandingImageType\": 0,\n  \"ImageData\": \"ABC\"\n}\n\n\n Example JSON Response  \n{\n  \"Success\": false,\n  \"Description\": \"ABC\",\n  \"BrandingImageDetails\": {\n  },\n  \"Links\": [\n    {\n      \"Href\": \"ABC\",\n      \"Rel\": \"ABC\",\n      \"Prompt\": \"ABC\",\n      \"Method\": \"ABC\"\n    },\n    {\n      \"Href\": \"ABC\",\n      \"Rel\": \"ABC\",\n      \"Prompt\": \"ABC\",\n      \"Method\": \"ABC\"\n    }\n  ]\n}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      },
      "get": {
        "summary": "Gets all branding image details associated with an authenticated user",
        "description": "Returns a list of branding images associated with a member. The response includes the Url to the branding images.",
        "operationId": "GetsAllBrandingImageDetailsAssociatedWithAnAuthenticatedUser",
        "tags": [
          "Branding Methods"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<GetBrandingImagesResponse> List of all branding images with their details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetsAllBrandingImageDetailsAssociatedWithAnAuthenticatedUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/Member/{memberId}/BrandingImages/{brandingId}": {
      "delete": {
        "summary": "Deletes a branding image",
        "description": "Deletes a specific branding image. The physical branding file will not physically be deleted immediately.",
        "operationId": "DeletesABrandingImage",
        "tags": [
          "Branding Methods"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "brandingId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<DeleteBrandingResponse> Status of operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletesABrandingImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      },
      "get": {
        "summary": "Gets a branding image details associated with an authenticated user",
        "description": "Returns a branding image associated with a member. The response includes the Url to the branding image.",
        "operationId": "GetsABrandingImageDetailsAssociatedWithAnAuthenticatedUser",
        "tags": [
          "Branding Methods"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "brandingId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<BrandingImageDetails> A branding image with it's detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      },
      "post": {
        "summary": "Updates a branding image and sets it as default",
        "description": "Update the priority of a specific branding image given the branding id in the url.",
        "operationId": "UpdatesABrandingImageAndSetsItAsDefault",
        "tags": [
          "Branding Methods"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "description": "Member id of the branding image owner",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "brandingId",
            "in": "path",
            "description": "Branding image Id to set as default",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatesABrandingImageAndSetsItAsDefaultRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<UpdateBrandingResponse> Status of operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesABrandingImageAndSetsItAsDefaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/InTradeReasons": {
      "get": {
        "summary": "Get in trade reasons",
        "description": "Returns a list of reasons for changing the in trade status. This is used in conjunction with the  set in trade status API.",
        "operationId": "GetInTradeReasons",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <InTradeReason> List of in trade reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInTradeReasonsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/BluRayValidation": {
      "get": {
        "summary": "Retrieve Blu-ray IDs",
        "description": "Returns a the list of Blu-ray catalogue ID numbers. You can use this list to validate the catalogue ID before listing a Blu-ray. These ID numbers don't change very often so you should cache them and only periodically refresh them.",
        "operationId": "RetrieveBluRayIds",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <BluRayValidation> A list containing the IDs of all Bluray titles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveBluRayIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ComplaintSubjects": {
      "get": {
        "summary": "Retrieve complaint subjects",
        "description": "Retrieves a list of possible complaint subjects. This is used in conjunction with the  send a complaint API.",
        "operationId": "RetrieveComplaintSubjects",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <ComplaintSubject> A list of subjects that can be used when making a complaint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveComplaintSubjectsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/CustomerSupportEnquirySubjects": {
      "get": {
        "summary": "Retrieve customer support enquiry subjects",
        "description": "Retrieves a list of possible customer support enquiry subjects. This is used in conjunction with the  submit a customer support enquiry API.",
        "operationId": "RetrieveCustomerSupportEnquirySubjects",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <CustomerSupportEnquirySubject> A list of subjects that can be used when making a customer support enquiry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCustomerSupportEnquirySubjectsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/details": {
      "get": {
        "summary": "Retrieve detailed information about a single category by mcat path",
        "description": "Retrieves detailed information about a single category. This includes\n          applicable attributes, a legal notice (for categories that have one),\n          available listing durations, listing fees and information about\n          whether classifieds and/or auctions are allowed to be sold within the\n          category.",
        "operationId": "RetrieveDetailedInformationAboutASingleCategoryByMcatPath",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mcat_path",
            "in": "query",
            "description": "The string path of the category. If this parameter is empty, it\n                returns a fictional category named \"Root\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<CategoryDetails>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveDetailedInformationAboutASingleCategoryByMcatPathResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/{category}/details": {
      "get": {
        "summary": "Retrieve detailed information about a single category",
        "description": "Retrieves detailed information about a single category. This includes applicable attributes, a legal notice (for categories that have one), available listing durations, listing fees and information about whether classifieds and/or auctions are allowed to be sold within the category.",
        "operationId": "RetrieveDetailedInformationAboutASingleCategory",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "The ID of the category to retrieve information on.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_at",
            "in": "query",
            "description": "The date for which the information applies. Intended for use when editing since fees when editing are based on the listing start date, not the current date. If supplied, the date must be in the past. Currently only affects fee information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "catalogue",
            "in": "query",
            "description": "Indicates whether you intend to list a DVD or Blu-ray listing via the catalogue. Only applies to DVD and Blu-ray categories.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<CategoryDetails>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveDetailedInformationAboutASingleCategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/DvdValidation": {
      "get": {
        "summary": "Retrieve DVD IDs",
        "description": "Returns a list of DVD catalogue ID numbers. You can use this list to validate the catalogue ID before listing a DVD. These ID numbers don't change very often so you should cache them and only periodically refresh them.",
        "operationId": "RetrieveDvdIds",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <DvdValidation> A list containing the IDs of all DVD titles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveDvdIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/Categories": {
      "get": {
        "summary": "Retrieve general categories by mcat path",
        "description": "Retrieves all or part of the Trade Me category tree.",
        "operationId": "RetrieveGeneralCategoriesByMcatPath",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of the category tree to return. 0 = a single category. 1 = the specified category plus any subcategories. The default is to return all subcategories.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "mcat_path",
            "in": "query",
            "description": "The string path of the category. If this parameter is empty, it returns a fictional category named \"Root\" with all the top categories included as subcategories.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The ID of the region used to filter listing counts. Only applicable if with_counts is true.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the number of listings in each category. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<Category> A category tree.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveGeneralCategoriesByMcatPathResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/{number}": {
      "get": {
        "summary": "Retrieve general categories",
        "description": "Retrieves all or part of the Trade Me category tree.",
        "operationId": "RetrieveGeneralCategories",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "The category number of the root of the returned tree. If this parameter is empty, it returns a fictional category named \"Root\" with all the top categories included as subcategories.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of the category tree to return. 0 = a single category. 1 = the specified category plus any subcategories. The default is to return all subcategories.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The ID of the region used to filter listing counts. Only applicable if with_counts is true.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the number of listings in each category. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<Category> A category tree.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveGeneralCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/jobs": {
      "get": {
        "summary": "Retrieve jobs categories",
        "description": "This is a convenience method that returns jobs categories from Trade Me Jobs.",
        "operationId": "RetrieveJobsCategories",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The ID of the region used to filter listing counts. Only applicable if with_counts is true.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the number of listings in each category. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <JobCategory> A category containing all job categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveJobsCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/Charities": {
      "get": {
        "summary": "Retrieve list of charities",
        "description": "Retrieves a collection of charities available to donate to when listing.",
        "operationId": "RetrieveListOfCharities",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Charity> Charities collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveListOfCharitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/SearchOptions/Localities/@{latitude},{longitude}": {
      "get": {
        "summary": "Retrieve locality options for search parameters",
        "description": "Retrieves search options for a locality that matches the provided geo-location point.",
        "operationId": "RetrieveLocalityOptionsForSearchParameters",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "path",
            "description": "The latitude value (in decimal degrees WGS84) of the geographic location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "description": "The longitude value (in decimal degrees WGS84) of the geographic location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <LocationSearchOption> A list of location keys and options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveLocalityOptionsForSearchParametersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/attributesuggestions/{id}/{input}": {
      "get": {
        "summary": "Retrieve matching attribute values",
        "description": "Returns a list of attribute values that match the string provided",
        "operationId": "RetrieveMatchingAttributeValues",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attribute to match against",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "input",
            "in": "path",
            "description": "The string that matches the start of the values to be returned",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <AttributeOption> A list of attribute values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveMatchingAttributeValuesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/tmareas": {
      "get": {
        "summary": "Retrieve membership and Motors localities",
        "description": "Returns a list of towns used in member registration. This information is displayed on member profile as the “suburb” and also on listings where the approximate location of goods is important, such as in Trade Me Motors.",
        "operationId": "RetrieveMembershipAndMotorsLocalities",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality> A list of all localities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveMembershipAndMotorsLocalitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/motorbikes": {
      "get": {
        "summary": "Retrieve motorbike types",
        "description": "This is a convenience method that returns all subcategories from the Motorbikes category.",
        "operationId": "RetrieveMotorbikeTypes",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of the category tree to return. 0 = a single category. 1 = the specified category plus any subcategories. The default is to return all subcategories.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The ID of the region used to filter listing counts. Only applicable if with_counts is true.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the number of listings in each category. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<Category> A category containing all motor bike types.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveMotorbikeTypesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/SearchOptions": {
      "get": {
        "summary": "Retrieve options for search parameters",
        "description": "Retrieves a list of options for a search filter. The list of options may depend on the value of another filter.",
        "operationId": "RetrieveOptionsForSearchParameters",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dependent_value",
            "in": "query",
            "description": "The value of the dependent parameter, if any.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "The key, as specified in the ExternalOptionsKey field when return_metadata=true is passed to a search API.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <AttributeOption> A list of values and display values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveOptionsForSearchParametersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/localities/region/{regionId}": {
      "get": {
        "summary": "Retrieve Property, Jobs and Services districts",
        "description": "Returns the districts and suburbs within the region with the given ID. These values are used in Trade Me Property, Trade Me Jobs and Services.",
        "operationId": "RetrievePropertyJobsAndServicesDistricts",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "The region ID to get districts and suburbs for.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "The type of listing to include in the count property, if with_counts is true. Valid values are \"HOUSES_TO_BUY\", \"HOUSES_TO_RENT\", \"COMMERCIAL_FOR_SALE\", \"COMMERCIAL_FOR_LEASE\", \"FLATMATES_WANTED\", \"RURAL\", \"RETIREMENT_VILLAGES\" and \"LIFESTYLE\". Defaults to \"HOUSES_TO_BUY\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the listing count for each district. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePropertyJobsAndServicesDistrictsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/localities/region/{regionId}/{districtId}/{suburbId}": {
      "get": {
        "summary": "Retrieve Property, Jobs and Services individual suburb",
        "description": "Returns a specific suburb. These values are used in Trade Me Property, Trade Me Jobs and Services.",
        "operationId": "RetrievePropertyJobsAndServicesIndividualSuburb",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "The region ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "districtId",
            "in": "path",
            "description": "The district ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "suburbId",
            "in": "path",
            "description": "The suburb ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "The type of listing to include in the count property, if with_counts is true. Valid values are \"HOUSES_TO_BUY\", \"HOUSES_TO_RENT\", \"COMMERCIAL_FOR_SALE\", \"COMMERCIAL_FOR_LEASE\", \"FLATMATES_WANTED\", \"RURAL\", \"RETIREMENT_VILLAGES\" and \"LIFESTYLE\". Defaults to \"HOUSES_TO_BUY\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the listing count for each suburb. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePropertyJobsAndServicesIndividualSuburbResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/localities": {
      "get": {
        "summary": "Retrieve Property, Jobs and Services localities",
        "description": "Returns a three-tier locality hierarchy of regions, districts and their respective suburbs (including adjacent suburbs, if they have them). These values are used in Trade Me Property, Trade Me Jobs and Services.",
        "operationId": "RetrievePropertyJobsAndServicesLocalities",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "The type of listing to include in the count property, if with_counts is true. Valid values are \"HOUSES_TO_BUY\", \"HOUSES_TO_RENT\", \"COMMERCIAL_FOR_SALE\", \"COMMERCIAL_FOR_LEASE\", \"FLATMATES_WANTED\", \"RURAL\", \"RETIREMENT_VILLAGES\" and \"LIFESTYLE\". Defaults to \"HOUSES_TO_BUY\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the listing count for each locality. Defaults to false. This option currently does not work.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality> A list of all localities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePropertyJobsAndServicesLocalitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/localities/regions": {
      "get": {
        "summary": "Retrieve Property, Jobs and Services regions",
        "description": "Returns a three-tier locality hierarchy of regions, districts and their respective suburbs (including adjacent suburbs, if they have them). These values are used in Trade Me Property, Trade Me Jobs and Services.",
        "operationId": "RetrievePropertyJobsAndServicesRegions",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "The type of listing to include in the count property, if with_counts is true. Valid values are \"HOUSES_TO_BUY\", \"HOUSES_TO_RENT\", \"COMMERCIAL_FOR_SALE\", \"COMMERCIAL_FOR_LEASE\", \"FLATMATES_WANTED\", \"RURAL\", \"RETIREMENT_VILLAGES\" and \"LIFESTYLE\". Defaults to \"HOUSES_TO_BUY\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the listing count for each locality. Defaults to false. This option currently does not work.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality> A list of all localities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePropertyJobsAndServicesRegionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/localities/region/{regionId}/{districtId}": {
      "get": {
        "summary": "Retrieve Property, Jobs and Services suburbs",
        "description": "Returns the suburbs within a district. These values are used in Trade Me Property, Trade Me Jobs and Services.",
        "operationId": "RetrievePropertyJobsAndServicesSuburbs",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "The region ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "districtId",
            "in": "path",
            "description": "The district ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "The type of listing to include in the count property, if with_counts is true. Valid values are \"HOUSES_TO_BUY\", \"HOUSES_TO_RENT\", \"COMMERCIAL_FOR_SALE\", \"COMMERCIAL_FOR_LEASE\", \"FLATMATES_WANTED\", \"RURAL\", \"RETIREMENT_VILLAGES\" and \"LIFESTYLE\". Defaults to \"HOUSES_TO_BUY\".",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the listing count for each suburb. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePropertyJobsAndServicesSuburbsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/SiteStats": {
      "get": {
        "summary": "Retrieve site statistics",
        "description": "Retrieves statistics about the Trade Me website, including the number of active members and the number of active listings.",
        "operationId": "RetrieveSiteStatistics",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SiteStats> General statistics, including the number of active members and the number of active listings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveSiteStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/TopSellerCriteria": {
      "get": {
        "summary": "Retrieve the Top Seller status criteria",
        "description": "Returns Top Seller Criteria",
        "operationId": "RetrieveTheTopSellerStatusCriteria",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<TopSellerCriteria> Criteria that needs to be met to become a Top Seller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveTheTopSellerStatusCriteriaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/travelareas": {
      "get": {
        "summary": "Retrieve travel localities",
        "description": "Returns a list of districts and suburbs as used by TradeMe travel.",
        "operationId": "RetrieveTravelLocalities",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <Locality> A list of all localities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveTravelLocalitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/categories/usedcars": {
      "get": {
        "summary": "Retrieve used car makes",
        "description": "This is a convenience method that returns ‘Used car’ child categories from Trade Me Motors.",
        "operationId": "RetrieveUsedCarMakes",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "The depth of the category tree to return. 0 = a single category. 1 = the specified category plus any subcategories. The default is to return all subcategories.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The ID of the region used to filter listing counts. Only applicable if with_counts is true.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "description": "Indicates whether to include the number of listings in each category. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<Category> A category containing all the used car categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveUsedCarMakesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/SearchPromotions": {
      "get": {
        "summary": "Retrieves a list of curated promotions",
        "description": "Retrieves a list of curated promotions, where each promotion links to a search.",
        "operationId": "RetrievesAListOfCuratedPromotions",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of <SearchPromotion> A list of curated promotions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievesAListOfCuratedPromotionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/bluray/find": {
      "get": {
        "summary": "Search the Blu-ray catalogue",
        "description": "Searches the Trade Me Blu-ray catalogue for movie titles.",
        "operationId": "SearchTheBluRayCatalogue",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The partial title to search for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<MovieTitles> A list containing movies which match the title parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchTheBluRayCatalogueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/dvd/find": {
      "get": {
        "summary": "Search the DVD catalogue",
        "description": "Searches the Trade Me DVD catalogue for movie titles.",
        "operationId": "SearchTheDvdCatalogue",
        "tags": [
          "Catalogue Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The partial title to search for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<MovieTitles> A list containing movies which match the title parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchTheDvdCatalogueResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/mytrademe/SavedDocuments/{savedDocumentId}": {
      "delete": {
        "summary": "Delete a CV, cover letter or document",
        "description": "Deletes a CV, cover letter or document.",
        "operationId": "DeleteACvCoverLetterOrDocument",
        "tags": [
          "Document Service Methods"
        ],
        "parameters": [
          {
            "name": "savedDocumentId",
            "in": "path",
            "description": "The ID of the document to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<MemberSavedDocumentResponse> Details on whether the operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteACvCoverLetterOrDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      },
      "get": {
        "summary": "Retrieve a saved CV, cover letter or document",
        "description": "Retrieves the metadata and content of a specific CV, cover letter or document.",
        "operationId": "RetrieveASavedCvCoverLetterOrDocument",
        "tags": [
          "Document Service Methods"
        ],
        "parameters": [
          {
            "name": "savedDocumentId",
            "in": "path",
            "description": "The unique ID of the document.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_file_content",
            "in": "query",
            "description": "If true, does not return the file content in the response (the base64 encoded file). Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedDocument> Information about a single CV, cover letter or other type of document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveASavedCvCoverLetterOrDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/mytrademe/SavedDocuments": {
      "get": {
        "summary": "Retrieve your CVs, cover letters and documents",
        "description": "Retrieves a list of your saved CVs, cover letters and/or other documents. The actual document data is not returned, only the metadata.",
        "operationId": "RetrieveYourCvsCoverLettersAndDocuments",
        "tags": [
          "Document Service Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_type",
            "in": "query",
            "description": "The type of document to return. Defaults to returning all types of documents.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of results to return, starting from 1. Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "The number of results per page; also the maximum number of results to return. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedDocumentCollection> A collection of documents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveYourCvsCoverLettersAndDocumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      },
      "post": {
        "summary": "Upload a CV, cover letter or document",
        "description": "Uploads a new CV, cover letter or document.",
        "operationId": "UploadACvCoverLetterOrDocument",
        "tags": [
          "Document Service Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadACvCoverLetterOrDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<MemberSavedDocumentResponse> Details on whether the operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadACvCoverLetterOrDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/{favouriteId}/{type}": {
      "delete": {
        "summary": "Remove a saved favourite",
        "description": "Deletes a saved search, category or seller from the currently authenticated\n  user's favourites.",
        "operationId": "RemoveASavedFavourite",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "favouriteId",
            "in": "path",
            "description": "The ID of the favourite.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "The type of favourite (must be \"Category\", \"Search\", \"AttributeSearch\"\n        or \"Seller\").",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<RemovedFavouriteResponse> Details indicating whether the operation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveASavedFavouriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/categories": {
      "get": {
        "summary": "Retrieve your favourite categories",
        "description": "Retrieves the list of favourite categories for the currently authenticated user.",
        "operationId": "RetrieveYourFavouriteCategories",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of results to return, starting from 1. Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "The number of results per page; also the maximum number of results to return. Defaults to all favourites.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedCategories> A list of favourite categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveYourFavouriteCategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/searches-detail/{filter}": {
      "get": {
        "summary": "Retrieve your favourite searches with details",
        "description": "<VersionedSavedSearchListViewModel>",
        "operationId": "RetrieveYourFavouriteSearchesWithDetails",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<VersionedSavedSearchListViewModel>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveYourFavouriteSearchesWithDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/searches/{filter}": {
      "get": {
        "summary": "Retrieve your favourite searches",
        "description": "Retrieves the list of favourite searches for the currently authenticated user.",
        "operationId": "RetrieveYourFavouriteSearches",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "path",
            "description": "Filters the list of searches to those of a given type. Must be \"All\", \"General\", \"Job\", \"Motor\" or \"Property\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of results to return, starting from 1. Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "The number of results per page; also the maximum number of results to return. Defaults to all favourites.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedSearches> A list of favourite searches.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveYourFavouriteSearchesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/sellers": {
      "get": {
        "summary": "Retrieve your favourite sellers",
        "description": "Retrieves the list of favourite sellers for the currently authenticated user.",
        "operationId": "RetrieveYourFavouriteSellers",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of results to return, starting from 1. Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "The number of results per page; also the maximum number of results to return. Defaults to all favourites.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_listing_counts",
            "in": "query",
            "description": "Indicates whether to return the counts of the saved sellers' current listings. Defaults to true.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedSellers> A list of favourite sellers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveYourFavouriteSellersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/category": {
      "post": {
        "summary": "Save a category to your favourites",
        "description": "Saves a category to the currently authenticated user's list of favourite categories.",
        "operationId": "SaveACategoryToYourFavourites",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveACategoryToYourFavouritesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<SavedFavouriteResponse> Details of the saved favourite, including the ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveACategoryToYourFavouritesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/search": {
      "post": {
        "summary": "Save a search, category or seller to your favourites",
        "description": "Saves a search to the currently authenticated user's list of favourite searches. Can also be used to save a favourite category or seller with the option of specifying basic filters (condition, Buy Now, Pay Now) and sort order.",
        "operationId": "SaveASearchCategoryOrSellerToYourFavourites",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveASearchCategoryOrSellerToYourFavouritesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<SavedFavouriteResponse> Details of the saved favourite, including the ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveASearchCategoryOrSellerToYourFavouritesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/seller": {
      "post": {
        "summary": "Save a seller to your favourites",
        "description": "Saves a seller to the currently authenticated user's list of favourite sellers.",
        "operationId": "SaveASellerToYourFavourites",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveASellerToYourFavouritesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<SavedFavouriteResponse> Details of the saved favourite, including the ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveASellerToYourFavouritesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/{favouriteId}/{type}/{frequency}": {
      "post": {
        "summary": "Update a saved favorite",
        "description": "Modifies the email frequency for a saved favourite.",
        "operationId": "UpdateASavedFavorite",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "favouriteId",
            "in": "path",
            "description": "The ID of the favourite.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "The type of favourite (must be \"Category\", \"Search\", \"AttributeSearch\" or \"Seller\").",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequency",
            "in": "path",
            "description": "The frequency that emails should be sent (must be \"None\", \"Daily\", \"Every3Days\" or \"Weekly\").",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<SavedFavouriteResponse> Details indicating whether the operation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateASavedFavoriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/favourites/{favouriteId}/{type}/label": {
      "put": {
        "summary": "Update a saved favourite's label",
        "description": "Updates the label for a specific favourite.",
        "operationId": "UpdateASavedFavouriteSLabel",
        "tags": [
          "Favourite Methods"
        ],
        "parameters": [
          {
            "name": "favouriteId",
            "in": "path",
            "description": "ID of the favourite to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Type of favourite to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "<FavouriteLabelResponse> A response indicating success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateASavedFavouriteSLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/FixedPriceOffers/MakeOffer": {
      "post": {
        "summary": "Make a fixed price offer",
        "description": "Makes a fixed price offer for an auction to the specified members. The auction must have finished closing and must have been in the closed state for less than 45 days.",
        "operationId": "MakeAFixedPriceOffer",
        "tags": [
          "Fixed Price Offer Methods"
        ],
        "parameters": [
          {
            "name": "file_format",
            "in": "path",
            "description": "The format of the response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MakeAFixedPriceOfferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "<FixedPriceOfferResponse> Details on whether the operation was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeAFixedPriceOfferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "security": [
          {
            "OAuth1": []
          }
        ]
      }
    },
    "/FixedPriceOffers/Respond": {
      "post": {
        "summary": "Respond to a fixed price offer",
[...]
